<% if spots.bird.photo.attached? %>
<div id= "bottom-panel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path spots.bird.photo.key%>')">

<h2><%= spots.bird.common_name %></h2>
<p><%= spots.address %></p>
</div>
<% else %>
<div>

<h2><%= spots.bird.common_name %></h2>
<p><%= spots.address %></p>
</div>
<% end %>
