<div style="height: 700px;" class="container-fluid"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="a-container">
    <% if @is_my_spots %>
      <%= link_to 'My Spots', spots_path(view: 'my_spots'), class: "spot-inactive" %>
      <%= link_to 'All Spots', spots_path %>
    <% else %>
      <%= link_to 'My Spots', spots_path(view: 'my_spots') %>
      <%= link_to 'All Spots', spots_path, class: "spot-inactive" %>
    <% end %>
</div>
