<div data-controller="search-birds" data-search-birds-url-value = "<%= request.base_url%>">
<h3 class="header-font pt-4 animated fadeIn" style="margin:0;padding:0;color:#fcca49;"><%= current_user.username.upcase %>'S</h3>
<h1 class="display-1 mb-2 animated fadeIn">FLOCK</h1>

<div class="row justify-content-center mb-4 border: 3px double">
  <div class="col-sm-8 my-3">
      <%= form_with url: captures_path, method: :get, html:{ class: "d-flex"}, data:{ action:"keyup->search-birds#search" } do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a bird, habitat..."
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary custom-index" %>
      <% end %>
    </div>
  </div>

  <div data-search-birds-target="results">
      <%= render "list", captures: @captures  %>
    </div>
  </div>
</div>
