<div class="reward-wrapper" data-controller="counter"  data-counter-scoredpoints-value =  "<%= @total_points %>" data-counter-userpoints-value =  "<%= current_user.user_xp %>" style="background-image: linear-gradient(rgba(0,0,0,0.69), rgba(0,0,0,0.83)), url('<%= cl_image_path @captured_bird.photo.key %>')">
  <div class="container" style="width:90%;">
    <h3 class="header-font animated fadeIn pt-5" style="margin:0;padding:0;color:#fcca49;">It's bird it's a plane...</h3>
      <h1 class="display-1 mb-2 animated fadeIn">IT'S...</h1>
    <div class="buttomer">

      <div class="reward-shadow"></div>

          <div class="reward-card">
            <h1 class="display-1 "><%= @captured_bird.common_name %></h1>
             <h3 class="header-font" style="margin:0;padding:0;color:#fcca49;"><%= @captured_bird.common_location.capitalize %></h3>

              <h3 class="header-font mt-2" style="margin:0;padding:0;color:#fcca49;">Badge unlocked</h3>
              <div style="display: flex; align-items: center;">
              <h3 class="header-font"style="color:white;">+</h3>
              <h3 class="header-font" data-counter-target="rewardpoints" style="color:white;">+<%= @total_points %> <span>XP</span></h3>
              <h3 class="header-font"style="color:white;margin-left:10px;">XP</h3>
              </div>
              <h2 class="header-font mt-4">Current <br> User Total</h2>

               <div style="display: flex; align-items: center;">
              <h3 class="header-font"style="color:white;">+</h3>
              <h3 class="header-font" data-counter-target="totalpoints" style="color:white;">+<%= @total_points %> <span>XP</span></h3>
              <h3 class="header-font"style="color:white;margin-left:10px;">XP</h3>
              </div>
            <%= link_to "Show Bird", capture_path(@capture), class:"reward-button mt-4" %>

          </div>
      </div>
    </div>
</div>
