<div class="bottom-navbar pb-2">
    <%= link_to root_path, class:"navicon" do %>
      <%= image_tag "home.png", class:"navicon" %>
    <% end %>

    <%= link_to new_capture_path, class:"navicon-2" do %>
      <%= image_tag "camera.png", class:"navicon-2" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to user_badges_path(current_user), class: "navicon" do %>
        <%= image_tag "person.png", class: "navicon" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "navicon" do %>
        <%= image_tag "person.png", class: "navicon" %>
      <% end %>
    <% end %>
</div>
