<h1>Global Top 3 Leaderboard</h1>


<div class="leaderboard-container">
  <ol>
    <% @global_top_3.each_with_index do |user, index| %>
    <li><%= user.username %> - <%= user.user_xp %> XP</li>
    <% end %>
  </ol>
</div>

<h2>Global leaderboard</h2>

<ul>
  <% @top_users.each do |user| %>
    <%= link_to badges_path(user.id) do %>
      <li><%= user.username %> - <%= user.user_xp %> XP</li>
    <% end %>
  <% end %>
</ul>

