<!DOCTYPE html>
<html>
  <head>
    <title>Avikan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="icon" href="https://i.ibb.co/tbBcKDC/oiseau-1.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&family=Pixelify+Sans:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render "shared/navbar" %>
    <% if params[:controller] == "pages" && params[:action] == "home" %>

    <div class="container" style="width:90%">
      <%= yield %>
    </div>
    <% else %>
     <div class="container" style="width:90%">
      <%= yield %>
    </div>
    <% end %>
    <%= render "shared/flashes" %>
  </body>
</html>
